<template>
  <v-container>
    <v-layout row wrap v-if="forms">
      {{ forms }}
    </v-layout>
  </v-container>
</template>

<script>
  import ApiPricesService from '../services/prices.service'

  export default {
    data: () => ({
      forms: [
        {
          name: 'Прямоугольный стикер',
          price: 1,
          id: 'rectangle',
          ref: 'simple'
        },
        {
          name: 'Фигурный стикер',
          price: 1,
          id: 'figure',
          ref: 'simple'
        },
        {
          name: 'Круглый стикер',
          price: 1,
          id: 'round',
          ref: 'simple'
        },
        {
          name: 'Стикеры на листах',
          price: 5,
          id: 'packs',
          ref: 'packs'
        },
        {
          name: 'Стикеры с насечкой',
          price: 2,
          id: 'cutout',
          ref: 'simple'
        },
        {
          name: 'Отражающие стикеры',
          price: 10,
          id: 'reflecting',
          ref: 'simple'
        },
        {
          name: 'Объёмные стикеры',
          price: 10,
          id: '3d',
          ref: 'simple'
        },
      ],
      materials: [
        {
          name: "Глянцевая виниловая плёнка",
          coef: 2,
          id: 'vinyl'
        },
        {
          name: "Матовая виниловая плёнка",
          coef: 5,
          id: 'matte'
        }
      ],
      lamination: [
        {
          name: 'Глянцевая ламинация',
          id: 'glance',
          coef: '1.2'
        },
        {
          name: 'Матовая ламинация',
          id: 'glance',
          coef: '1.3'
        }
      ],
      cutout: [
        {
          name: 'Плоттерная резка',
          id: 'plotter'
        },
        {
          name: 'Вырубка по контуру',
          id: 'circuit'
        }
      ],
      sizes: {
        simple: [
          {
            name: "4 см х 4 см",
            rootsquare: 4,
            id: '4on4'
          },
          {
            name: "5 см. x 5 см.",
            rootsquare: 5,
            id: '5on5'
          },
          {
            name: "6 см. x 6 см.",
            rootsquare: 6,
            id: '6on6'
          },
          {
            name: "7 см. x 7 см.",
            rootsquare: 7,
            id: '7on7'
          },
          {
            name: "8 см. x 8 см.",
            rootsquare: 8,
            id: '8on8'
          },
          {
            name: "9 см. x 9 см.",
            rootsquare: 9,
            id: '9on9'
          },
          {
            name: "10 см. x 10 см.",
            rootsquare: 10,
            id: '10on10'
          },
          {
            name: "11 см. x 11 см.",
            rootsquare: 11,
            id: '11on11'
          },
          {
            name: "14 см. x 14 см.",
            rootsquare: 14,
            id: '14on14'
          },
          {
            name: "15 см. x 15 см.",
            rootsquare: 15,
            id: '15on15'
          }
        ],
        packs: [
          {
            name: "A6(10x14,8)",
            price: 21,
            id: 'A6'
          },
          {
            name: "A5(14,8x21)",
            price: 22,
            id: 'A5'
          },
          {
            name: "A4(21x29,7)",
            price: 23,
            id: 'A4'
          },
          {
            name: "A3(29,7x42)",
            price: 24,
            id: 'A3'
          }
        ]
      },
      numbers: {
        simple: [50, 100, 200, 300, 500, 700, 1000, 2000, 5000, 10000],
        packs: [10, 20, 30, 50, 100, 300, 500, 700, 1000]
      },
      activeType: 0,
      activeSize: 0,
      number: 0
    }),
    methods: {
      async getPrices () {
        let res = await ApiPricesService.getPrices();
        this.prices = res.data;
      },
      setType (num) {
        this.activeType = num
      },
      setSize (num) {
        this.activeSize = num
      },
      async createOrder () {
        var order = {
          Customer_Email: 'hello@hello.com',
          count: 2,
          form: 'rectangle',
          type: 'aaaaaaa',
          size: '4x4',
          price: 12000,
          comment: 'Test'
        };

        let res = await ApiPricesService.createOrder(order);
        console.log(res.data);
      }
    },
    mounted () {
      // console.log(process.env.VUE_APP_ROOT_API);
      // this.getPrices();
      // this.createOrder();
    }
  }
</script>

<style>

</style>
