<template>
  <v-app>
    <Header></Header>
    <v-img contain position="top center" :src="require('./assets/stickers.jpg')" height="auto" width="100%"></v-img>
    <v-content style="margin-top: -150px">
      <router-view/>
    </v-content>
  </v-app>
</template>

<script>

import Header from "./components/Header";
export default {
  name: 'App',
  components: {Header},
  data () {
    return {
      //
    }
  }
}
</script>
